@model CmsTraining.Models.Blocks.HeroBlock
@using EPiServer.Web.Routing

<div class="jumbotron jumbotron-fluid" style=" background-image: url(@Url.ContentUrl(Model.Image)) ">
    <div style="position: relative">
        <div class="container" style="z-index: 10">
            <h1 class="display-4">@Html.DisplayFor(model => model.Title) </h1>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <p>@Html.DisplayFor(model => model.LinkUrl)</p>
        </div>
    </div>
</div>

<style>
    .jumbotron {
        color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img {
        position: absolute;
    }
</style>
*@


<div class="jumbotron jumbotron-fluid" style=" background-image: url(@Url.ContentUrl(Model.Image)) ">
    <div style="position: relative">
        <div class="container" style="z-index: 10">
            <h1 class="display-4">@Html.DisplayFor(model => model.Title) </h1>
            <p>@Html.DisplayFor(model => model.Description)</p>
            <p>@Html.DisplayFor(model => model.LinkUrl)</p>
        </div>
    </div>
</div>

<style>
    .jumbotron {
        color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img {
        position: absolute;
    }
</style>

